@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Nav-bar Start Here  */
.nav-bar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 166px;
}
.nav-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}
.download-resume {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  background-color: white;
  border: 1px solid #333;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}
/* Nav-bar Ends Here  */

/* Hero Section Start Here  */
.hero-bg {
  background-image: url(../assets/hero_bg.png);
  background-position: center;
  background-repeat: none;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 47px;
  margin-bottom: 88px;
}
.hero-img {
  width: 240.28px;
  height: 240px;
  margin-top: 26px;
}
.hero-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  width: 998px;
  height: 136px;
  margin-top: 32px;
  margin-bottom: 24px;
}
.hero-content {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  width: 852px;
  height: 52px;
  margin-bottom: 32px;
}
.hero-bg a {
  background-color: rgb(13, 19, 33);
  color: white;
  border: none;
  margin-top: 32px;
  margin-bottom: 44px;
  padding: 21px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
}
/* Hero Section Ends Here  */

/* Section-1 Starts Here  */
.section-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 148px;
  margin-right: 152px;
  padding: 80px 97px 80px 97px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
.web-bg {
  margin: 80px 97px;
}
.web-bg a {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  margin: 32px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.web-dev h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.web-dev p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 48px;
  margin-top: 24px;
  padding-left: 48px;
  padding-right: 48px;
}
.web-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.web-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.web-content-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.web-content-1 {
  padding-right: 99px;
}
.web-content-1 h4 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.web-content-1 p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
}
.web-content-2 {
  padding-left: 99px;
}
.web-content-2 h4 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.web-content-2 p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
}
.web-content-3 {
  padding-right: 99px;
}
.web-content-3 h4 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.web-content-3 p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
}
/* Section-1 Ends Here  */

/* Section 2 Starts Here */
.section-2 {
  margin: 88px 152px 0px 148px;
}
.section-2 h3 {
  margin-top: 88px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.section-2 p {
  margin: 24px 144px 0px 144px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.yt-vid {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
.yt-vid iframe {
  margin: 32px auto;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  width: 95%;
  height: 614px;
  border-radius: 16px;
}
/* Section 2 Ends Here */

/* Section 3 Starts Here  */
.section-3 {
  margin: 88px 152px 0px 148px;
}
.current-target {
  margin: 149px 144px 48px 146px;
}
.current-target h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.current-target p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.grid-container {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.outer-div-1 {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
}
.inner-div h4 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  text-align: left;
  margin-top: 24px;
}
.inner-div p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 24px;
  opacity: 0.7;
}
.inner-div a {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 24px;
}
.outer-div-2 {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
}
.outer-div-3 {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
}
.next-target {
  margin: 111px 144px 48px 146px;
}
.next-target h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.next-target p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.next-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.next-outer-div {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
}
.next-inner-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.next-inner-container img {
  margin: 24px;
}
.next-inner-div h4 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  text-align: left;
  margin-bottom: 8px;
}
.next-inner-div p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 24px;
}
.next-inner-div a {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-decoration-line: underline;
}
/* Section 3 Ends Here  */

/* Section 4 Starts Here  */
.section-4 {
  margin: 88px 152px 0px 148px;
  background-image: url(../assets/handshake.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
.support-container {
  padding: 64px 48px;
}
.inner-container h4 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}
.inner-container p {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 24px;
}
.form-part {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.form-part input {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 5px;
  padding: 10px 200px 10px 10px;
  font-size: 16px;
  font-family: Azeret Mono;
  font-weight: 400;
  color: rgb(13, 19, 33);
  background: rgb(255, 255, 255);
}
.submit-button {
  border: 1px solid #333;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 18px;
  font-weight: 600;
}
/* Section 4 Ends Here  */

/* Footer Starts from Here  */
.footer-bg {
  padding: 32px 150px 32px 150px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  margin-top: 80px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content img {
  margin-left: 24px;
  cursor: pointer;
}
.footer-content h4 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
/* Footer Ends from Here  */



/* Responsive Styles for 576px */
@media screen and (max-width: 576px) {
  .nav-bar{
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 20px;
  }
  .hero-bg h1{
    width: 90%;
    height: 5%;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
  }
  .hero-bg p{
    width: 90%;
    height: 20%;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7;
  }
  .section-1 {
    margin: 24px 24px;
    padding: 10px;
  }
  .web-bg{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 24px auto;
  }
  .web-dev{
    width: 100%;
    padding: 0px;
  }
  .web-content-main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .section-2 {
    margin: 40px 24px;
  }
  .inspiration p {
    margin: 24px auto;
  }
  .section-3 {
    margin: 40px 24px;
  }
  .current-target{
    margin: 24px 0px;
  }
  .grid-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .next-target{
    margin: 24px 0px;
  }
  .section-4 {
    margin: 40px 24px;
  }
  .form-part {
    flex-direction: column;
    gap: 16px;
  }
  .form-input {
    margin-bottom: 16px;
    width: 120%;
  }

  .footer-bg {
    padding: 24px 40px;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-content img {
    margin-top: 24px;
  }
}


